// Modular Page Template
// ======================================================


.main.contact{
  background-color: black;
  .contact_me{
    .question{
      p{
        color: white;
         border-top: 1px solid white;
      }
    }
    .page-container{
      h2{
        color: white;
      }
    }
  }
}


// Single Menu Item Page
// ======================================================

.header-img {
  width: 100%;
  position: relative;
  background-color: $grey40;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  &:after {
    content: "";
    display: block;
    height: 0px;
    padding-bottom: 29%;
    width: 100%;
    box-sizing: content-box !important;
  }

  .header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3rem;
  }
}

.item_desc {
  padding-top: 40px;
  font-size: 1.5em;
  text-align: center;
}

.pricing {
  display: flex;

  @media #{$pad} {
    display: block;
  }

  .price-box {
    margin-top: auto;
    text-align: center;

    .price {}
  }

  .pizza-price {
    height: 100px;
    width: 100px;
    border: dotted 1px black;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top: 15px;

    p {
      display: inline-block;
      margin-left: 50%;
      margin-top: 50%;
      transform: translate(-50%, -50%);
      font-weight: bold;
      font-size: 1.5em;
      color: $primary;
      
    }

    &.deep {
      height: 75px;
      width: 75px;
    }

    &.small {
      height: 60px;
      width: 60px;
    }

    &.medium {
      height: 90px;
      width: 90px;
    }

    &.large {
      height: 120px;
      width: 120px;
    }
  }

  .item-price {
    font-weight: bold;
    font-size: 1.5em;
    color: $primary;
  }
}

.suggestion {
  margin-bottom: 1em;
  width: 100%;
  position: relative;
  background-color: $grey40;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  &:after {
    content: "";
    display: block;
    height: 0px;
    padding-top: 50%;
    padding-bottom: 50%;
    width: 100%;
    box-sizing: content-box !important;
  }

  h5 {
    position: absolute;
    bottom: -10px;
    left: 10px;
    color: white;
    font-weight: bold;
    font-size: 25px;
  }
}

.title {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 2.2em;
}

//Module Content
//===========================
.module-columns {
  padding-bottom: 60px;

  @media #{$phone} {
    padding-bottom: 20px;
  }
}

// module-img-blocks
//===========================

.module-img-blocks {
  padding-bottom: 60px;

  @media #{$phone} {
    padding-bottom: 20px;
  }
}
